
/* -------- HEADER CSS -------- */

.navbar {
  padding: 0 10% 0 10%
}

.hero-body {
  padding: 2rem 1.5rem;
}

.titles {
  flex-direction: column;
  align-items: flex-start;
}

.level-item .title {
  margin-bottom: 5;
}

.name-title h1 {
  /* color: black; */
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

.name-title {
  padding-bottom: 7.5px;
}
.subtitle h3{
  font-size: 1.25em;
  /* padding: .25% 0 0 .5%; */
}
.App {
  padding-top: 3.25rem
}

.chart-holder {
  margin-top: 10%;
  margin-left: 7.5%;
}

.toolTip {
  position: absolute;
  font: 10px sans-serif;
  font-weight: bold;
  display: none;
  width: 85px;
  height: 55px;
  background: #ffffff;
  border: 2px solid #464646;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  pointer-events: none;
}

.axisLighter {
  fill: #464646
}

.domain {
  display:none;
}

.axisLighter text {
  fill: darkslategrey;
}

.icon-style {
  margin: 0 3px 0 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: coral;
}

.bar {
  fill: coral;
  opacity: .75;
  transition: opacity .5s;
}

.bar:hover {
  cursor: pointer;
  opacity: 1;
}

/* -------- HEADER CSS -------- */


/* -------- TABS/NAV CSS -------- */
.container li {
  font-size: 1.15rem;
}

.tabs li.is-active a {
  color: coral;
  /* border-bottom-color: green; */
  border-bottom: 2px solid coral;
}
/* -------- TABS/NAV CSS -------- */


/* -------- FOOTER CSS -------- */
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main {
  flex: 1;
}
.footer {
  background-color: #ffffff;
  padding: 24px 0 24px 24px;
  font-size: .7em;
}

/* -------- FOOTER CSS -------- */



/* -------- GLOBAL CONTENT CSS -------- */

/* header-like font style and spacing */
.about-content, .experience-content, .education-content {
  letter-spacing: .075em;
  font-family: 'Lato', sans-serif;
  color: #363636;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 900;
  padding-top: 35%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}
.scroll-btn {
  padding-top: 25px;
}
.experiencetwobox, .experiencethreebox, .educationtwobox, .educationthreebox {
  margin-top: 35%;
}
.experiencethreebox, .educationthreebox{
  margin-bottom: 35%;
}
/* for colored text segments */
.coral-span {
  color: coral;
}
.arrows {
	width: 60px;
	height: 72px;
}
.arrows path {
	stroke: coral;
	fill: transparent;
  stroke-width: 1px;
  transition: all .5s ease;
  cursor: pointer;
}
.arrows:hover path {
  stroke: lightskyblue;
}
.experience-arrows, .education-arrows {
  margin-top: 200px;
}

/* -------- GLOBAL CONTENT CSS -------- */

.hidden {
  /* display: none; */
}

.show {
  /* position: absolute; */
  /* left: -30em;
  width: 30em;
  height: 20em;
  -webkit-animation: slide-in 2s forwards;
  animation: slide-in 2s forwards; */
  /* display: block; */
}


/* @-webkit-keyframes slide-in {
 100% { left: 0 }
}
@keyframes slide-in {
 100% { left: 0 }
}

@-webkit-keyframes slide-out {
  0% 		{positon: absolute}
  .001% 	{positon: absolute; right: -200px}
}

@keyframes slide-out {
  0% 		{positon: absolute}
  .001% 	{positon: absolute; right: -200px}
} */

/* --------- CSS ANIMATION KEYFRAMES  ----------*/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* 
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
} */



